{% extends "base.html" %}
{% block content %}
<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Leader</th>
      </tr>
    </thead>
    <tbody>
    {% for static in statics %}
      <tr>
        <td>
          {% if static.members.all.count <= 1 %}
          <span class="label label-success">New</span>
          {% elif static.members.all.count <= 3 %}
          <span class="label label-warning">LFM</span>
          {% else %}
          <span class="label label-danger">Full</span>
          {% endif %}
          <a href="{% url 'static_view' pk=static.pk %}">{{static.name}}</a>
        </td>
        <td>{{static.description}}</td>
        <td>{{static.leader}}</td>
      </tr
    {% endfor %}
    <!-- Bottom Divider -->
    <tr><td></td><td></td><td></td></tr>
    </tbody>
  </table>
</div>
{% endblock %}
