{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#drama">Drama</a>
        </h4>
      </div>
      <div id="drama" class="panel-collapse collapse">
        <div class="panel-body">
          <p>Krypted Gaming has a zero tolerance policy on drama. If you stir up something with someone, you'll get booted. At the end of the day, we want to come home and play games.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#respect">Respect</a>
        </h4>
      </div>
      <div id="respect" class="panel-collapse collapse">
        <div class="panel-body">
          <p>There is no reason to be toxic on the internet, especially in our community. Treat your fellow members with respect, especially leadership. Respect the chain of command.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#loot">Loot</a>
        </h4>
      </div>
      <div id="loot" class="panel-collapse collapse">
        <div class="panel-body">
          <p>Loot is a pretty nightmarish issue to handle in Albion, since there is no way to implement master loot. <b>All loot is either sold and donated to the guild treasury</b>, or <b>given to guild members</b> (and then donate a little bit of cost to the treasury). If you have an officer in the party, <b>the officer is the only one that should be looting bodies.</b> This will make it a lot easier in the future.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#activity">Activity</a>
        </h4>
      </div>
      <div id="activity" class="panel-collapse collapse">
        <div class="panel-body">
          <p>Every member in Krypted Gaming is actively playing games. We respect RL first, but the only way to achieve an active playerbase is to enforce activity requirements. <b>At the moment, we have no requirements for Albion Online.</b> Examples for other games include EVE Online, where we require two fleets a week.</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
